<Card Class="dashboard-orders-root">
    <CardHeader Title="购票信息">
        @*<ActionContent>
                <Button Color="@Color.Primary"
                        Size="@Size.Small"
                        Variant="@ButtonVariant.Outlined">
                    New entry
                </Button>
            </ActionContent>*@
    </CardHeader>
</Card>
@code {

}
