@page "/saleticket"

<SaleTicketStyle />

<div class="dashboard-root">
    <Grid Container
          Spacing="@Spacing.Two">
        <Grid Item
              ExtraSmall="@GridSize.Three">
            <Paper Class="paper-demo">
                <Search/>
            </Paper>
        </Grid>
        <Grid Item
              ExtraSmall="@GridSize.Nine">
            <Paper Class="paper-demo">
            </Paper>
        </Grid>
    </Grid>
</div>

@code {

}
